# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly set the line ending for certain file types
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
